---
import type { CollectionEntry } from "astro:content"
import FormattedDate from "../components/FormattedDate.astro"
import MainLayout from "./MainLayout.astro"

type Props = CollectionEntry<"blog">["data"] & {
	remarkPluginFormatter: any
}

const { title, pubDate, updatedDate, heroImage, remarkPluginFormatter } =
	Astro.props
---

<MainLayout>
	<article>
		<div
			class="prose prose-margin-fix prose-h1:text-2xl prose-dark-fix max-w-full"
		>
			<div class="title">
				<h1 class="text-4xl font-bold">
					{title}
				</h1>
				<div class="flex items-center text-sm dark:text-gray-300 gap-3">
					<div class="date">
						<FormattedDate date={pubDate} />
						{
							// updatedDate && (
							// <div class="last-updated-on">
							// 	Last updated on{" "}
							// 	<FormattedDate date={updatedDate} />
							// </div>
							// )
						}
					</div>
					•
					<span>{remarkPluginFormatter.minutesRead}</span>
				</div>
				<div class="hero-image">
					{heroImage && <img src={heroImage} alt="" class="m-auto" />}
				</div>
			</div>
			<div class="mt-5">
				<slot />
			</div>
		</div>
	</article>
</MainLayout>
